// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
    body {
        padding-top: 180px;
    }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    .card-contacto {
        #ico-horario {
            max-width: 60px;
        }
    }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    #comunidad {
        #thumb-comunidad-1 {
            left: -12px;
        }

        #thumb-comunidad-1 {
            right: -12px;
        }
    }

    #timeline {
        .vertical-line {
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 4px;
            height: 100%;
            background-color: #fff;
            z-index: 1;

            &::after {
                content: "";
                position: absolute;
                top: var(--indicator-top, 0);
                left: 0;
                width: 4px;
                height: 200px;
                background-color: var(--bg-highlighted);
                transition: top 0.35s cubic-bezier(0.4, 0, 0.2, 1);
            }
        }
    }

    .card-contacto {
        .ico {
            max-width: 55px;
        }

        #ico-horario {
            max-width: 40px;
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
    header {
        nav {
            @include font-size(1rem);
        }
    }

    #top-bar {
        @include font-size(1rem);
    }

    .tabulador {
        .nav {
            @include font-size(1rem);
        }
    }

    #comunidad {
        #thumb-comunidad-1 {
            bottom: -48px;
        }

        #thumb-comunidad-2 {
            top: -48px;
        }
    }

    footer {
        ul {
            @include font-size(1rem);
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {
}
